{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}


<div class="container my-3">
<h1 class="my-4 text-center">
  <font color="white">  KIDZEEE SCHOOL DUBAI</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
        <img src="https://th.bing.com/th/id/OIP.hP1UUJu0rtrFv3hzVHjsvAHaHa?w=348&h=196&c=7&o=5&dpr=1.25&pid=1.7" class="d-block w-60" alt="...">
            
            <div class="card-body">
              <p class="card-text"><font color="black">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://images.unsplash.com/photo-1610008885395-d4b47c2f5c8c?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIyMjAyMjg2&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><font color="black">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="https://th.bing.com/th/id/OIP.f1Xs9ws07r5mlu8cTKb-sAHaE8?w=348&h=196&c=7&o=5&dpr=1.25&pid=1.7" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><font color="black">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src="https://images.unsplash.com/photo-1585521549926-ca6526bda09e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIyMjAyNTA2&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600"> class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><font color="black">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img src=" https://images.unsplash.com/photo-1531079997448-485eb7235a2b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjIyMjAyNjM2&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text"><font color="black">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</font></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
{% endblock body %}
